/* --------------------------
    BASIC SETUP
------------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar-brand{
    font-size: 22px!important;
    color: #3E3E3E;
}
.navbar-nav>.nav-item>.nav-link{
    font-weight: 500;
    color: #3E3E3E;
}